@function retina-size($value) {
  @return floor($value / 2);
}

@mixin retina-bg-size($spriteWidth, $spriteHeight) {
  background-size: floor($spriteWidth / 2) floor($spriteHeight / 2);
}

.iti__flag {
  $item-width-maps: (ac: 40px, ad: 40px, ae: 40px, af: 40px, ag: 40px, ai: 40px, al: 40px, am: 40px, ao: 40px, aq: 40px, ar: 40px, as: 40px, at: 40px, au: 40px, aw: 40px, ax: 40px, az: 40px, ba: 40px, bb: 40px, bd: 40px, be: 35px, bf: 40px, bg: 40px, bh: 40px, bi: 40px, bj: 40px, bl: 40px, bm: 40px, bn: 40px, bo: 40px, bq: 40px, br: 40px, bs: 40px, bt: 40px, bv: 40px, bw: 40px, by: 40px, bz: 40px, ca: 40px, cc: 40px, cd: 40px, cf: 40px, cg: 40px, ch: 30px, ci: 40px, ck: 40px, cl: 40px, cm: 40px, cn: 40px, co: 40px, cp: 40px, cr: 40px, cu: 40px, cv: 40px, cw: 40px, cx: 40px, cy: 40px, cz: 40px, de: 40px, dg: 40px, dj: 40px, dk: 40px, dm: 40px, do: 40px, dz: 40px, ea: 40px, ec: 40px, ee: 40px, eg: 40px, eh: 40px, er: 40px, es: 40px, et: 40px, eu: 40px, fi: 40px, fj: 40px, fk: 40px, fm: 40px, fo: 40px, fr: 40px, ga: 40px, gb: 40px, gd: 40px, ge: 40px, gf: 40px, gg: 40px, gh: 40px, gi: 40px, gl: 40px, gm: 40px, gn: 40px, gp: 40px, gq: 40px, gr: 40px, gs: 40px, gt: 40px, gu: 40px, gw: 40px, gy: 40px, hk: 40px, hm: 40px, hn: 40px, hr: 40px, ht: 40px, hu: 40px, ic: 40px, id: 40px, ie: 40px, il: 40px, im: 40px, in: 40px, io: 40px, iq: 40px, ir: 40px, is: 40px, it: 40px, je: 40px, jm: 40px, jo: 40px, jp: 40px, ke: 40px, kg: 40px, kh: 40px, ki: 40px, km: 40px, kn: 40px, kp: 40px, kr: 40px, kw: 40px, ky: 40px, kz: 40px, la: 40px, lb: 40px, lc: 40px, li: 40px, lk: 40px, lr: 40px, ls: 40px, lt: 40px, lu: 40px, lv: 40px, ly: 40px, ma: 40px, mc: 38px, md: 40px, me: 40px, mf: 40px, mg: 40px, mh: 40px, mk: 40px, ml: 40px, mm: 40px, mn: 40px, mo: 40px, mp: 40px, mq: 40px, mr: 40px, ms: 40px, mt: 40px, mu: 40px, mv: 40px, mw: 40px, mx: 40px, my: 40px, mz: 40px, na: 40px, nc: 40px, ne: 35px, nf: 40px, ng: 40px, ni: 40px, nl: 40px, no: 40px, np: 25px, nr: 40px, nu: 40px, nz: 40px, om: 40px, pa: 40px, pe: 40px, pf: 40px, pg: 40px, ph: 40px, pk: 40px, pl: 40px, pm: 40px, pn: 40px, pr: 40px, ps: 40px, pt: 40px, pw: 40px, py: 40px, qa: 40px, re: 40px, ro: 40px, rs: 40px, ru: 40px, rw: 40px, sa: 40px, sb: 40px, sc: 40px, sd: 40px, se: 40px, sg: 40px, sh: 40px, si: 40px, sj: 40px, sk: 40px, sl: 40px, sm: 40px, sn: 40px, so: 40px, sr: 40px, ss: 40px, st: 40px, sv: 40px, sx: 40px, sy: 40px, sz: 40px, ta: 40px, tc: 40px, td: 40px, tf: 40px, tg: 40px, th: 40px, tj: 40px, tk: 40px, tl: 40px, tm: 40px, tn: 40px, to: 40px, tr: 40px, tt: 40px, tv: 40px, tw: 40px, tz: 40px, ua: 40px, ug: 40px, um: 40px, un: 40px, us: 40px, uy: 40px, uz: 40px, va: 30px, vc: 40px, ve: 40px, vg: 40px, vi: 40px, vn: 40px, vu: 40px, wf: 40px, ws: 40px, xk: 40px, ye: 40px, yt: 40px, za: 40px, zm: 40px, zw: 40px, );
  $standard-country: 'ac';
  width: map-get($item-width-maps, $standard-country);

  @each $key, $width in $item-width-maps {
    @if $width != map-get($item-width-maps, $standard-country) {
      &.iti__#{$key} {
        width: $width;
      }
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-size: 10787px 30px;
  }

  &.iti__ac {
    height: 20px;
    background-position: 0px 0px;
  }
  &.iti__ad {
    height: 28px;
    background-position: -42px 0px;
  }
  &.iti__ae {
    height: 20px;
    background-position: -84px 0px;
  }
  &.iti__af {
    height: 27px;
    background-position: -126px 0px;
  }
  &.iti__ag {
    height: 27px;
    background-position: -168px 0px;
  }
  &.iti__ai {
    height: 20px;
    background-position: -210px 0px;
  }
  &.iti__al {
    height: 29px;
    background-position: -252px 0px;
  }
  &.iti__am {
    height: 20px;
    background-position: -294px 0px;
  }
  &.iti__ao {
    height: 27px;
    background-position: -336px 0px;
  }
  &.iti__aq {
    height: 27px;
    background-position: -378px 0px;
  }
  &.iti__ar {
    height: 25px;
    background-position: -420px 0px;
  }
  &.iti__as {
    height: 20px;
    background-position: -462px 0px;
  }
  &.iti__at {
    height: 27px;
    background-position: -504px 0px;
  }
  &.iti__au {
    height: 20px;
    background-position: -546px 0px;
  }
  &.iti__aw {
    height: 27px;
    background-position: -588px 0px;
  }
  &.iti__ax {
    height: 26px;
    background-position: -630px 0px;
  }
  &.iti__az {
    height: 20px;
    background-position: -672px 0px;
  }
  &.iti__ba {
    height: 20px;
    background-position: -714px 0px;
  }
  &.iti__bb {
    height: 27px;
    background-position: -756px 0px;
  }
  &.iti__bd {
    height: 24px;
    background-position: -798px 0px;
  }
  &.iti__be {
    height: 30px;
    background-position: -840px 0px;
  }
  &.iti__bf {
    height: 27px;
    background-position: -877px 0px;
  }
  &.iti__bg {
    height: 24px;
    background-position: -919px 0px;
  }
  &.iti__bh {
    height: 24px;
    background-position: -961px 0px;
  }
  &.iti__bi {
    height: 24px;
    background-position: -1003px 0px;
  }
  &.iti__bj {
    height: 27px;
    background-position: -1045px 0px;
  }
  &.iti__bl {
    height: 27px;
    background-position: -1087px 0px;
  }
  &.iti__bm {
    height: 20px;
    background-position: -1129px 0px;
  }
  &.iti__bn {
    height: 20px;
    background-position: -1171px 0px;
  }
  &.iti__bo {
    height: 28px;
    background-position: -1213px 0px;
  }
  &.iti__bq {
    height: 27px;
    background-position: -1255px 0px;
  }
  &.iti__br {
    height: 28px;
    background-position: -1297px 0px;
  }
  &.iti__bs {
    height: 20px;
    background-position: -1339px 0px;
  }
  &.iti__bt {
    height: 27px;
    background-position: -1381px 0px;
  }
  &.iti__bv {
    height: 29px;
    background-position: -1423px 0px;
  }
  &.iti__bw {
    height: 27px;
    background-position: -1465px 0px;
  }
  &.iti__by {
    height: 20px;
    background-position: -1507px 0px;
  }
  &.iti__bz {
    height: 27px;
    background-position: -1549px 0px;
  }
  &.iti__ca {
    height: 20px;
    background-position: -1591px 0px;
  }
  &.iti__cc {
    height: 20px;
    background-position: -1633px 0px;
  }
  &.iti__cd {
    height: 30px;
    background-position: -1675px 0px;
  }
  &.iti__cf {
    height: 27px;
    background-position: -1717px 0px;
  }
  &.iti__cg {
    height: 27px;
    background-position: -1759px 0px;
  }
  &.iti__ch {
    height: 30px;
    background-position: -1801px 0px;
  }
  &.iti__ci {
    height: 27px;
    background-position: -1833px 0px;
  }
  &.iti__ck {
    height: 20px;
    background-position: -1875px 0px;
  }
  &.iti__cl {
    height: 27px;
    background-position: -1917px 0px;
  }
  &.iti__cm {
    height: 27px;
    background-position: -1959px 0px;
  }
  &.iti__cn {
    height: 27px;
    background-position: -2001px 0px;
  }
  &.iti__co {
    height: 27px;
    background-position: -2043px 0px;
  }
  &.iti__cp {
    height: 27px;
    background-position: -2085px 0px;
  }
  &.iti__cr {
    height: 24px;
    background-position: -2127px 0px;
  }
  &.iti__cu {
    height: 20px;
    background-position: -2169px 0px;
  }
  &.iti__cv {
    height: 24px;
    background-position: -2211px 0px;
  }
  &.iti__cw {
    height: 27px;
    background-position: -2253px 0px;
  }
  &.iti__cx {
    height: 20px;
    background-position: -2295px 0px;
  }
  &.iti__cy {
    height: 27px;
    background-position: -2337px 0px;
  }
  &.iti__cz {
    height: 27px;
    background-position: -2379px 0px;
  }
  &.iti__de {
    height: 24px;
    background-position: -2421px 0px;
  }
  &.iti__dg {
    height: 20px;
    background-position: -2463px 0px;
  }
  &.iti__dj {
    height: 27px;
    background-position: -2505px 0px;
  }
  &.iti__dk {
    height: 30px;
    background-position: -2547px 0px;
  }
  &.iti__dm {
    height: 20px;
    background-position: -2589px 0px;
  }
  &.iti__do {
    height: 27px;
    background-position: -2631px 0px;
  }
  &.iti__dz {
    height: 27px;
    background-position: -2673px 0px;
  }
  &.iti__ea {
    height: 27px;
    background-position: -2715px 0px;
  }
  &.iti__ec {
    height: 27px;
    background-position: -2757px 0px;
  }
  &.iti__ee {
    height: 26px;
    background-position: -2799px 0px;
  }
  &.iti__eg {
    height: 27px;
    background-position: -2841px 0px;
  }
  &.iti__eh {
    height: 20px;
    background-position: -2883px 0px;
  }
  &.iti__er {
    height: 20px;
    background-position: -2925px 0px;
  }
  &.iti__es {
    height: 27px;
    background-position: -2967px 0px;
  }
  &.iti__et {
    height: 20px;
    background-position: -3009px 0px;
  }
  &.iti__eu {
    height: 27px;
    background-position: -3051px 0px;
  }
  &.iti__fi {
    height: 25px;
    background-position: -3093px 0px;
  }
  &.iti__fj {
    height: 20px;
    background-position: -3135px 0px;
  }
  &.iti__fk {
    height: 20px;
    background-position: -3177px 0px;
  }
  &.iti__fm {
    height: 21px;
    background-position: -3219px 0px;
  }
  &.iti__fo {
    height: 29px;
    background-position: -3261px 0px;
  }
  &.iti__fr {
    height: 27px;
    background-position: -3303px 0px;
  }
  &.iti__ga {
    height: 30px;
    background-position: -3345px 0px;
  }
  &.iti__gb {
    height: 20px;
    background-position: -3387px 0px;
  }
  &.iti__gd {
    height: 24px;
    background-position: -3429px 0px;
  }
  &.iti__ge {
    height: 27px;
    background-position: -3471px 0px;
  }
  &.iti__gf {
    height: 27px;
    background-position: -3513px 0px;
  }
  &.iti__gg {
    height: 27px;
    background-position: -3555px 0px;
  }
  &.iti__gh {
    height: 27px;
    background-position: -3597px 0px;
  }
  &.iti__gi {
    height: 20px;
    background-position: -3639px 0px;
  }
  &.iti__gl {
    height: 27px;
    background-position: -3681px 0px;
  }
  &.iti__gm {
    height: 27px;
    background-position: -3723px 0px;
  }
  &.iti__gn {
    height: 27px;
    background-position: -3765px 0px;
  }
  &.iti__gp {
    height: 27px;
    background-position: -3807px 0px;
  }
  &.iti__gq {
    height: 27px;
    background-position: -3849px 0px;
  }
  &.iti__gr {
    height: 27px;
    background-position: -3891px 0px;
  }
  &.iti__gs {
    height: 20px;
    background-position: -3933px 0px;
  }
  &.iti__gt {
    height: 25px;
    background-position: -3975px 0px;
  }
  &.iti__gu {
    height: 22px;
    background-position: -4017px 0px;
  }
  &.iti__gw {
    height: 20px;
    background-position: -4059px 0px;
  }
  &.iti__gy {
    height: 24px;
    background-position: -4101px 0px;
  }
  &.iti__hk {
    height: 27px;
    background-position: -4143px 0px;
  }
  &.iti__hm {
    height: 20px;
    background-position: -4185px 0px;
  }
  &.iti__hn {
    height: 20px;
    background-position: -4227px 0px;
  }
  &.iti__hr {
    height: 20px;
    background-position: -4269px 0px;
  }
  &.iti__ht {
    height: 24px;
    background-position: -4311px 0px;
  }
  &.iti__hu {
    height: 20px;
    background-position: -4353px 0px;
  }
  &.iti__ic {
    height: 27px;
    background-position: -4395px 0px;
  }
  &.iti__id {
    height: 27px;
    background-position: -4437px 0px;
  }
  &.iti__ie {
    height: 20px;
    background-position: -4479px 0px;
  }
  &.iti__il {
    height: 29px;
    background-position: -4521px 0px;
  }
  &.iti__im {
    height: 20px;
    background-position: -4563px 0px;
  }
  &.iti__in {
    height: 27px;
    background-position: -4605px 0px;
  }
  &.iti__io {
    height: 20px;
    background-position: -4647px 0px;
  }
  &.iti__iq {
    height: 27px;
    background-position: -4689px 0px;
  }
  &.iti__ir {
    height: 23px;
    background-position: -4731px 0px;
  }
  &.iti__is {
    height: 29px;
    background-position: -4773px 0px;
  }
  &.iti__it {
    height: 27px;
    background-position: -4815px 0px;
  }
  &.iti__je {
    height: 24px;
    background-position: -4857px 0px;
  }
  &.iti__jm {
    height: 20px;
    background-position: -4899px 0px;
  }
  &.iti__jo {
    height: 20px;
    background-position: -4941px 0px;
  }
  &.iti__jp {
    height: 27px;
    background-position: -4983px 0px;
  }
  &.iti__ke {
    height: 27px;
    background-position: -5025px 0px;
  }
  &.iti__kg {
    height: 24px;
    background-position: -5067px 0px;
  }
  &.iti__kh {
    height: 26px;
    background-position: -5109px 0px;
  }
  &.iti__ki {
    height: 20px;
    background-position: -5151px 0px;
  }
  &.iti__km {
    height: 24px;
    background-position: -5193px 0px;
  }
  &.iti__kn {
    height: 27px;
    background-position: -5235px 0px;
  }
  &.iti__kp {
    height: 20px;
    background-position: -5277px 0px;
  }
  &.iti__kr {
    height: 27px;
    background-position: -5319px 0px;
  }
  &.iti__kw {
    height: 20px;
    background-position: -5361px 0px;
  }
  &.iti__ky {
    height: 20px;
    background-position: -5403px 0px;
  }
  &.iti__kz {
    height: 20px;
    background-position: -5445px 0px;
  }
  &.iti__la {
    height: 27px;
    background-position: -5487px 0px;
  }
  &.iti__lb {
    height: 27px;
    background-position: -5529px 0px;
  }
  &.iti__lc {
    height: 20px;
    background-position: -5571px 0px;
  }
  &.iti__li {
    height: 24px;
    background-position: -5613px 0px;
  }
  &.iti__lk {
    height: 20px;
    background-position: -5655px 0px;
  }
  &.iti__lr {
    height: 21px;
    background-position: -5697px 0px;
  }
  &.iti__ls {
    height: 27px;
    background-position: -5739px 0px;
  }
  &.iti__lt {
    height: 24px;
    background-position: -5781px 0px;
  }
  &.iti__lu {
    height: 24px;
    background-position: -5823px 0px;
  }
  &.iti__lv {
    height: 20px;
    background-position: -5865px 0px;
  }
  &.iti__ly {
    height: 20px;
    background-position: -5907px 0px;
  }
  &.iti__ma {
    height: 27px;
    background-position: -5949px 0px;
  }
  &.iti__mc {
    height: 30px;
    background-position: -5991px 0px;
  }
  &.iti__md {
    height: 20px;
    background-position: -6031px 0px;
  }
  &.iti__me {
    height: 20px;
    background-position: -6073px 0px;
  }
  &.iti__mf {
    height: 27px;
    background-position: -6115px 0px;
  }
  &.iti__mg {
    height: 27px;
    background-position: -6157px 0px;
  }
  &.iti__mh {
    height: 21px;
    background-position: -6199px 0px;
  }
  &.iti__mk {
    height: 20px;
    background-position: -6241px 0px;
  }
  &.iti__ml {
    height: 27px;
    background-position: -6283px 0px;
  }
  &.iti__mm {
    height: 27px;
    background-position: -6325px 0px;
  }
  &.iti__mn {
    height: 20px;
    background-position: -6367px 0px;
  }
  &.iti__mo {
    height: 27px;
    background-position: -6409px 0px;
  }
  &.iti__mp {
    height: 20px;
    background-position: -6451px 0px;
  }
  &.iti__mq {
    height: 27px;
    background-position: -6493px 0px;
  }
  &.iti__mr {
    height: 27px;
    background-position: -6535px 0px;
  }
  &.iti__ms {
    height: 20px;
    background-position: -6577px 0px;
  }
  &.iti__mt {
    height: 27px;
    background-position: -6619px 0px;
  }
  &.iti__mu {
    height: 27px;
    background-position: -6661px 0px;
  }
  &.iti__mv {
    height: 27px;
    background-position: -6703px 0px;
  }
  &.iti__mw {
    height: 27px;
    background-position: -6745px 0px;
  }
  &.iti__mx {
    height: 23px;
    background-position: -6787px 0px;
  }
  &.iti__my {
    height: 20px;
    background-position: -6829px 0px;
  }
  &.iti__mz {
    height: 27px;
    background-position: -6871px 0px;
  }
  &.iti__na {
    height: 27px;
    background-position: -6913px 0px;
  }
  &.iti__nc {
    height: 20px;
    background-position: -6955px 0px;
  }
  &.iti__ne {
    height: 30px;
    background-position: -6997px 0px;
  }
  &.iti__nf {
    height: 20px;
    background-position: -7034px 0px;
  }
  &.iti__ng {
    height: 20px;
    background-position: -7076px 0px;
  }
  &.iti__ni {
    height: 24px;
    background-position: -7118px 0px;
  }
  &.iti__nl {
    height: 27px;
    background-position: -7160px 0px;
  }
  &.iti__no {
    height: 29px;
    background-position: -7202px 0px;
  }
  &.iti__np {
    height: 30px;
    background-position: -7244px 0px;
  }
  &.iti__nr {
    height: 20px;
    background-position: -7271px 0px;
  }
  &.iti__nu {
    height: 20px;
    background-position: -7313px 0px;
  }
  &.iti__nz {
    height: 20px;
    background-position: -7355px 0px;
  }
  &.iti__om {
    height: 20px;
    background-position: -7397px 0px;
  }
  &.iti__pa {
    height: 27px;
    background-position: -7439px 0px;
  }
  &.iti__pe {
    height: 27px;
    background-position: -7481px 0px;
  }
  &.iti__pf {
    height: 27px;
    background-position: -7523px 0px;
  }
  &.iti__pg {
    height: 30px;
    background-position: -7565px 0px;
  }
  &.iti__ph {
    height: 20px;
    background-position: -7607px 0px;
  }
  &.iti__pk {
    height: 27px;
    background-position: -7649px 0px;
  }
  &.iti__pl {
    height: 25px;
    background-position: -7691px 0px;
  }
  &.iti__pm {
    height: 27px;
    background-position: -7733px 0px;
  }
  &.iti__pn {
    height: 20px;
    background-position: -7775px 0px;
  }
  &.iti__pr {
    height: 27px;
    background-position: -7817px 0px;
  }
  &.iti__ps {
    height: 20px;
    background-position: -7859px 0px;
  }
  &.iti__pt {
    height: 27px;
    background-position: -7901px 0px;
  }
  &.iti__pw {
    height: 25px;
    background-position: -7943px 0px;
  }
  &.iti__py {
    height: 22px;
    background-position: -7985px 0px;
  }
  &.iti__qa {
    height: 16px;
    background-position: -8027px 0px;
  }
  &.iti__re {
    height: 27px;
    background-position: -8069px 0px;
  }
  &.iti__ro {
    height: 27px;
    background-position: -8111px 0px;
  }
  &.iti__rs {
    height: 27px;
    background-position: -8153px 0px;
  }
  &.iti__ru {
    height: 27px;
    background-position: -8195px 0px;
  }
  &.iti__rw {
    height: 27px;
    background-position: -8237px 0px;
  }
  &.iti__sa {
    height: 27px;
    background-position: -8279px 0px;
  }
  &.iti__sb {
    height: 20px;
    background-position: -8321px 0px;
  }
  &.iti__sc {
    height: 20px;
    background-position: -8363px 0px;
  }
  &.iti__sd {
    height: 20px;
    background-position: -8405px 0px;
  }
  &.iti__se {
    height: 25px;
    background-position: -8447px 0px;
  }
  &.iti__sg {
    height: 27px;
    background-position: -8489px 0px;
  }
  &.iti__sh {
    height: 20px;
    background-position: -8531px 0px;
  }
  &.iti__si {
    height: 20px;
    background-position: -8573px 0px;
  }
  &.iti__sj {
    height: 29px;
    background-position: -8615px 0px;
  }
  &.iti__sk {
    height: 27px;
    background-position: -8657px 0px;
  }
  &.iti__sl {
    height: 27px;
    background-position: -8699px 0px;
  }
  &.iti__sm {
    height: 30px;
    background-position: -8741px 0px;
  }
  &.iti__sn {
    height: 27px;
    background-position: -8783px 0px;
  }
  &.iti__so {
    height: 27px;
    background-position: -8825px 0px;
  }
  &.iti__sr {
    height: 27px;
    background-position: -8867px 0px;
  }
  &.iti__ss {
    height: 20px;
    background-position: -8909px 0px;
  }
  &.iti__st {
    height: 20px;
    background-position: -8951px 0px;
  }
  &.iti__sv {
    height: 23px;
    background-position: -8993px 0px;
  }
  &.iti__sx {
    height: 27px;
    background-position: -9035px 0px;
  }
  &.iti__sy {
    height: 27px;
    background-position: -9077px 0px;
  }
  &.iti__sz {
    height: 27px;
    background-position: -9119px 0px;
  }
  &.iti__ta {
    height: 20px;
    background-position: -9161px 0px;
  }
  &.iti__tc {
    height: 20px;
    background-position: -9203px 0px;
  }
  &.iti__td {
    height: 27px;
    background-position: -9245px 0px;
  }
  &.iti__tf {
    height: 27px;
    background-position: -9287px 0px;
  }
  &.iti__tg {
    height: 25px;
    background-position: -9329px 0px;
  }
  &.iti__th {
    height: 27px;
    background-position: -9371px 0px;
  }
  &.iti__tj {
    height: 20px;
    background-position: -9413px 0px;
  }
  &.iti__tk {
    height: 20px;
    background-position: -9455px 0px;
  }
  &.iti__tl {
    height: 20px;
    background-position: -9497px 0px;
  }
  &.iti__tm {
    height: 27px;
    background-position: -9539px 0px;
  }
  &.iti__tn {
    height: 27px;
    background-position: -9581px 0px;
  }
  &.iti__to {
    height: 20px;
    background-position: -9623px 0px;
  }
  &.iti__tr {
    height: 27px;
    background-position: -9665px 0px;
  }
  &.iti__tt {
    height: 24px;
    background-position: -9707px 0px;
  }
  &.iti__tv {
    height: 20px;
    background-position: -9749px 0px;
  }
  &.iti__tw {
    height: 27px;
    background-position: -9791px 0px;
  }
  &.iti__tz {
    height: 27px;
    background-position: -9833px 0px;
  }
  &.iti__ua {
    height: 27px;
    background-position: -9875px 0px;
  }
  &.iti__ug {
    height: 27px;
    background-position: -9917px 0px;
  }
  &.iti__um {
    height: 21px;
    background-position: -9959px 0px;
  }
  &.iti__un {
    height: 27px;
    background-position: -10001px 0px;
  }
  &.iti__us {
    height: 21px;
    background-position: -10043px 0px;
  }
  &.iti__uy {
    height: 27px;
    background-position: -10085px 0px;
  }
  &.iti__uz {
    height: 20px;
    background-position: -10127px 0px;
  }
  &.iti__va {
    height: 30px;
    background-position: -10169px 0px;
  }
  &.iti__vc {
    height: 27px;
    background-position: -10201px 0px;
  }
  &.iti__ve {
    height: 27px;
    background-position: -10243px 0px;
  }
  &.iti__vg {
    height: 20px;
    background-position: -10285px 0px;
  }
  &.iti__vi {
    height: 27px;
    background-position: -10327px 0px;
  }
  &.iti__vn {
    height: 27px;
    background-position: -10369px 0px;
  }
  &.iti__vu {
    height: 24px;
    background-position: -10411px 0px;
  }
  &.iti__wf {
    height: 27px;
    background-position: -10453px 0px;
  }
  &.iti__ws {
    height: 20px;
    background-position: -10495px 0px;
  }
  &.iti__xk {
    height: 29px;
    background-position: -10537px 0px;
  }
  &.iti__ye {
    height: 27px;
    background-position: -10579px 0px;
  }
  &.iti__yt {
    height: 27px;
    background-position: -10621px 0px;
  }
  &.iti__za {
    height: 27px;
    background-position: -10663px 0px;
  }
  &.iti__zm {
    height: 27px;
    background-position: -10705px 0px;
  }
  &.iti__zw {
    height: 20px;
    background-position: -10747px 0px;
  }
}
